body {
	margin: 0;
}

#mapcanvas {
	width:100%;
	position: absolute;
	bottom: 0px;
	top: 0px;
}

#suninfo-panel {
	z-index: 1;
	position: absolute;
	background: #fff;
	padding: 15px;
	right: 15px;
	top: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff; 
}

#suninfo-panel td{
	padding: 4px;
}

#suninfo-panel a{
	color: #FF7A00;
}

#suninfo-panel .suntime{
	background: #FFFC9C;
	border-radius: 6px;
	padding: 3px 5px;
	color: #333;
}

#suninfo-panel #suninfo-table-short{
	display: none;
}
#suninfo-panel #suninfo-table{
	display: block;
}
#suninfo-panel .toogle-info.more{
	display: none;
}
#suninfo-panel .toogle-info.less{
	display: block;
}

#suninfo-panel.short #suninfo-table{
	display: none;
}
#suninfo-panel.short #suninfo-table-short{
	display: block;
}
#suninfo-panel.short .toogle-info.more{
	display: block;
}
#suninfo-panel.short .toogle-info.less{
	display: none;
}

#bar-slider {
	height: 50px;
	line-height: 50px;
	background: rgba(0, 0, 0, 0.7);
}

#bar-slider #time-display{
	width: 10%;
	float: left;
	text-align: center;
	color: #fff;
}

#bar-slider #slider{
	width: 90%;
	float: left;
	padding-right: 16px;
}

#bar-slider #time-slider{
	width: 100%;
}